body {
    --color-background: #06090d;
    --color-font: #efefef;
    --color-font-placeholder: rgba(239, 239, 239, 0.5);
    --color-primary: #172333;
    --color-primary-light: #293E59;

    --color-outer-1: rgba(0, 0, 0, 0.1);
    --color-outer-3: rgba(0, 0, 0, 0.3);
    --color-outer-i-05: rgba(255, 255, 255, 0.05);
    --color-outer-i-1: rgba(255, 255, 255, 0.1);
}