body[data-theme='light-theme'] {
    --color-background: #f9f9f9;
    --color-font: #06090d;
    --color-font-secondary: #172333;
    --color-font-placeholder: rgba(6, 9, 13, 0.5);
    --color-primary: #dddddd;
    --color-primary-light: #b1b1b1;

    --color-outer-3: rgba(255, 255, 255, 0.3);
    --color-outer-i-05: rgba(0, 0, 0, 0.05);
    --color-outer-i-1: rgba(0, 0, 0, 0.1);
}