body[data-theme='light-theme'] {
    --color-background: #efefef;
    --color-font: #06090d;
    --color-font-secondary: #172333;
    --color-font-placeholder: rgba(6, 9, 13, 0.5);
    --color-primary: #BDBDBD;
    --color-primary-light: #8A8A8A;

    --color-outer-3: rgba(255, 255, 255, 0.3);
    --color-outer-i-05: rgba(0, 0, 0, 0.05);
    --color-outer-i-1: rgba(0, 0, 0, 0.1);
}