.content-overlay {
    background-color: black;
    opacity: 0.7;
    filter: blur(4px);
    transition: all 175ms ease-in-out;
}

.overflow-hiden {
    overflow-y: hidden;
}

.pokemon-overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    padding: 48px 0 0;
    z-index: 2;

    ::-webkit-scrollbar {
        width: 6px;

    }
}

.close-btn {
    background-color: transparent;
    position: absolute;
    top: 16px;
    right: 16px;
    border: none;
    transform: scale(1);
    transition: all 75ms ease-in-out;

    &:hover {
        transform: scale(1.1);
    }

    img {
        width: 32px;
        height: 32px;
    }
}

#pokemon_details {
    background: url('./../img/bg.png')no-repeat -10% -80%;
    background-size: 130%;
    width: 500px;
    max-height: 880px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px 0 0 0;
    border-radius: 16px 40px 0 32px;
    box-shadow: 2px 0 4px 0 var(--color-outer-3);

    h2 {
        font-size: 32px;
    }
}

#pokemon_details_top,
#pokemon_details_bottom,
#pokemon_details_moves {
    display: flex;
    flex-direction: column;
}

#pokemon_details_top {
    width: 100%;
    display: flex;
    align-items: center;

    button {
        background-color: transparent;
        padding: 0;
        border: none;
        transition: all 150ms ease-in-out;
        user-select: none;

        &:hover {
            transform: scale(1.1);
        }
    }
}

#pokemon_details_bottom,
#pokemon_details_moves {
    background-color: var(--color-background);
    width: 100%;
    flex-grow: 1;
    margin-top: 8px;
    padding: 16px 16px 0;
    border-radius: 16px 0 0 32px;
    overflow-y: auto;
}

.circle {
    background-color: var(--color-primary);
    width: 250px;
    height: 250px;
    top: 120px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    box-shadow: 2px 0 4px 0 var(--color-outer-3);

    img {
        width: 180px;
        height: 180px;

        &:hover {
            width: 200px;
            height: 200px;
            animation: rotatePokemonRight 225ms ease-in-out;
        }
    }
}

.type-container-overlay {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-top: 16px;
}

.weight-container-overlay {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 32px;
    padding: 0 16px;
    z-index: 3;

    span {
        background-color: rgba(255, 255, 255, 0.2);
        width: 100px;
        padding: 4px 0;
        border: 1px solid rgba(255, 255, 255, 0.35);
        border-radius: 8px;
        text-align: center;
        color: var(--color-primary);
    }
}

.navigation-overlay {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 32px;
    padding: 0 16px;
    z-index: 3;

    img {
        width: 32px;
        height: 32px;
        cursor: pointer;
    }
}

.justify-end {
    justify-content: end;
}

.justify-start {
    justify-content: start;
}

.details-switch {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
    padding: 8px 32px;

    span {
        padding-bottom: 4px;
        cursor: pointer;
    }
}

.active {
    border-bottom: 5px solid white;
}

#pokemon_abilities,
#pokemon_stats {
    margin: 8px 0 16px;

    h3 {
        margin-bottom: 4px;
    }
}

#pokemon_evolution {
    margin-bottom: 8px;

    h3 {
        margin-bottom: 4px;
    }
}

#evolution_steps {
    display: flex;
    justify-content: space-evenly;
    margin-top: 16px;
}

.evolution-step {
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
        width: 90px;
        height: 90px;
    }
}

.display-none {
    display: none !important;
}

.pokemon-move {
    background-color: var(--color-primary);
    display: inline-block;
    margin-bottom: 8px;
    padding: 2px 4px;
    border: 1px solid var(--color-outer-i-1);
    border-radius: 4px;
}

.disabled {
    pointer-events: none;
}

@media (max-width: 576px) {

    #pokemon_details {
        width: 400px;
        max-height: 800px;
    }

    .weight-container-overlay {

        span {
            width: 80px;
        }
    }

    .circle {
        width: 200px;
        height: 200px;
        top: 130px;

        img {
            width: 150px;
            height: 150px;

            &:hover {
                width: 160px;
                height: 160px;
            }
        }
    }
}

@media (max-width: 456px) {

    #pokemon_details {
        background: url('./../img/bg.png')no-repeat -10% -30%;
        background-size: 130%;
        width: 300px;
        max-height: 716px;
    }

    .weight-container-overlay {
        padding: 0 8px;

        span {
            width: 60px;
        }
    }

    .navigation-overlay {
        margin-top: 16px;
        padding: 0 8px;
    }

    .circle {
        width: 150px;
        height: 150px;
        top: 130px;

        img {
            width: 100px;
            height: 100px;

            &:hover {
                width: 110px;
                height: 110px;
            }
        }
    }

    .details-switch {
        margin-bottom: 8px;
        padding: 8px 0;
    }

    .evolution-step img {
        width: 80px;
        height: 80px;
    }
}

@media (max-width: 320px) {

    #pokemon_details {
        width: 264px;
        max-height: 700px;
    }

    .weight-container-overlay {
        margin-top: 16px;
    }

    .circle {
        width: 140px;
        height: 140px;
        top: 140px;

        img {
            width: 90px;
            height: 90px;

            &:hover {
                width: 100px;
                height: 100px;
            }
        }
    }
}