@use 'default-theme';
@use 'light-theme';


$color-background: var(--color-background);
$color-font: var(--color-font);
$color-primary: var(--color-primary);
$color-secondary: var(--color-secondary);
$color-middle: var(--color-middle);
$color-light: var(--color-light);

$color-border-075: var(--color-border-075);
$color-border-2: var(--color-border-2);
$color-border-5: var(--color-border-5);
$color-box-shadow-light: var(--color-box-shadow-light);


html,
body {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

body {
    background-color: $color-background;
    display: flex;
    flex-direction: column;
    align-items: center;
    font: 16px 'Lato Regular', sans-serif;
    color: $color-font;
}

header {
    background-color: $color-primary;
    width: 100%;
    height: 80px;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    padding: 0 32px;
    border-bottom: 1px solid $color-border-075;
    box-shadow: 0 1px 5px 0 $color-box-shadow-light;
    z-index: 1;

    a {
        color: $color-font;
        text-decoration: none;
    }
}

.logo {
    display: flex;
    align-items: center;
    gap: 16px;

    img {
        width: 60px;
        height: 60px;
        object-fit: cover;
        transform: rotate(-45deg);
    }
}

h1,
h2 {
    margin: 0;
}

.search-container {
    background-color: #404040;
    display: flex;
    align-items: center;
    border: 1px solid $color-border-075;
    border-radius: 8px;

    button {
        background-color: transparent;
        padding: 4px;
        border: none;
        cursor: pointer;
    }

    img {
        width: 20px;
    }
}

.search-input {
    background-color: #404040;
    border: none;
    padding: 4px 8px;
    border-radius: 8px;
    font-size: 18px;
    color: #efefef;

    &::placeholder {
        color: #a6a6a6;
    }

    &:focus {
        outline: none;
    }
}

.search-message {
    background-color: $color-font;
    position: absolute;
    top: 64px;
    left: 50%;
    display: flex;
    padding: 8px 32px;
    border: 1px solid $color-border-5;
    border-radius: 8px;
    color: $color-background;
    transform: scale(0) translateX(-33.3%);
    transition: transform 225ms ease-in-out;
}

.search-show {
    transform: scale(1) translateX(-33.3%);
}

.checkbox {
    opacity: 0;
    position: absolute;
}

.label {
    width: 50px;
    height: 26px;
    background-color: #404040;
    display: flex;
    border-radius: 50px;
    align-items: center;
    justify-content: space-between;
    margin-right: 5px;
    padding: 5px;
    border: 1px solid $color-border-075;
    position: relative;
    transform: scale(1.25);

    img {
        width: 12px;
        height: 12px;
        object-fit: cover;
    }
}

.ball {
    width: 20px;
    height: 20px;
    background-color: #efefef;
    position: absolute;
    top: 2px;
    left: 2px;
    border-radius: 50%;
    transition: transform 0.2s linear;
}

/*  target the elemenent after the label*/
.checkbox:checked+.label .ball {
    transform: translateX(24px);
}

#all_pokemon {
    max-width: 1260px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    margin: 32px 8px;
}

.one-pokemon:nth-child(odd) {
    background: url('./../img/bg.png') no-repeat 260% -30%;
    background-size: 120%;
    width: 300px;
    // height: 250px;
    padding: 16px 8px 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid $color-border-5;
    border-radius: 16px 40px 16px 40px;
    cursor: pointer;
    transition: transform 225ms ease-in-out;

    &:hover {
        transform: scale(1.05);
    }
}

.one-pokemon:nth-child(even) {
    background: url('./../img/bg.png') no-repeat -150% 110%;
    background-size: 120%;
    width: 300px;
    // height: 250px;
    padding: 16px 8px 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid $color-border-5;
    border-radius: 40px 16px 40px 16px;
    cursor: pointer;
    transition: transform 125ms ease-in-out;

    &:hover {
        transform: scale(1.05);

    }
}

.pokemon-content {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 16px;
    // margin: 16px 0;
}

.image {
    background-color: $color-primary;
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 16px;
    border-radius: 50%;
    box-shadow: 2px -1px 2px 2px $color-border-2;

    img {
        width: 105px;
        height: 105px;

        &:hover {
            width: 125px;
            height: 125px;
            animation: rotatePokemon 225ms ease-in-out;
        }
    }
}

@keyframes rotatePokemon {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg)
    }
}

.type-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.type {
    padding: 4px 8px;
    border: 2px solid $color-border-5;
    border-radius: 8px;
}

.normal {
    background-color: #adac7e !important;
}

.fire {
    background-color: #f08639 !important;
}

.water {
    background-color: #769af1 !important;
}

.grass {
    background-color: #7dca57 !important;
}

.electric {
    background-color: #f8d135 !important;
}

.ice {
    background-color: #a1dbdc !important;
}

.fighting {
    background-color: #cc352c !important;
}

.poison {
    background-color: #a842a6 !important;
}

.ground {
    background-color: #e2c370 !important;
}

.flying {
    background-color: #ab94f0 !important;
}

.psychic {
    background-color: #f96491 !important;
}

.bug {
    background-color: #adbc21 !important;
}

.rock {
    background-color: #bfa73d !important;
}

.ghost {
    background-color: #755b9c !important;
}

.dark {
    background-color: #755b4c !important;
}

.dragon {
    background-color: #753ff8 !important;
}

.steel {
    background-color: #bebfd4 !important;
}

.fairy {
    background-color: #fe86e9 !important;
}