@use 'variables';
@use 'types';
@use 'overlay';

html,
body {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0px -1px 5px var(--color-outer-i-1);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: var(--color-font);
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--color-font-placeholder);
}

body {
    background-color: var(--color-background);
    position: relative;
    font: 16px 'Lato Regular', sans-serif;
    color: var(--color-font);
}

header {
    background-color: var(--color-primary);
    width: 100%;
    height: 80px;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    padding: 0 32px;
    border-bottom: 1px solid var(--color-outer-i-1);
    box-shadow: 0px 1px 3px 0 var(--color-outer-i-05);
    z-index: 1;

    a {
        color: var(--color-font);
        text-decoration: none;
    }
}

.logo {
    display: flex;
    align-items: center;
    gap: 16px;

    img {
        width: 60px;
        height: 60px;
        object-fit: cover;
        transform: rotate(-45deg);
    }
}

h1,
h2,
h3 {
    margin: 0;
}

.search-container {
    background-color: var(--color-primary-light);
    display: flex;
    align-items: center;
    border: 1px solid var(--color-outer-i-05);
    border-radius: 8px;

    button {
        background-color: transparent;
        padding: 4px;
        border: none;
        cursor: pointer;
    }

    img {
        width: 20px;
    }
}

.search-input {
    background-color: var(--color-primary-light);
    border: none;
    padding: 4px 8px;
    border-radius: 8px;
    font-size: 18px;
    color: #efefef;

    &::placeholder {
        color: var(--color-font-placeholder);
    }

    &:focus {
        outline: none;
    }
}

.search-message {
    background-color: var(--color-font);
    position: absolute;
    top: 64px;
    left: 50%;
    display: flex;
    padding: 8px 32px;
    border: 1px solid var(--color-outer-i-05);
    border-radius: 8px;
    color: var(--color-background);
    transform: scale(0) translateX(-33.3%);
    transition: transform 225ms ease-in-out;
}

.search-show {
    transform: scale(1) translateX(-33.3%);
}

.checkbox {
    opacity: 0;
    position: absolute;
}

.label {
    width: 50px;
    height: 26px;
    background-color: var(--color-primary-light);
    display: flex;
    border-radius: 50px;
    align-items: center;
    justify-content: space-between;
    margin-right: 5px;
    padding: 5px;
    border: 1px solid var(--color-outer-i-1);
    position: relative;
    transform: scale(1.25);

    img {
        width: 12px;
        height: 12px;
        object-fit: cover;
    }
}

.ball {
    width: 20px;
    height: 20px;
    background-color: var(--color-font);
    position: absolute;
    top: 2px;
    left: 2px;
    border-radius: 50%;
    transition: transform 0.2s linear;
    cursor: pointer;
}

/*  target the elemenent after the label*/
.checkbox:checked+.label .ball {
    transform: translateX(24px);
}

#content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#all_pokemon {
    max-width: 1260px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    margin: 32px 8px 72px;
}

.one-pokemon:nth-child(odd) {
    background: url('./../img/bg.png') no-repeat 260% -30%;
    background-size: 120%;
    width: 300px;
    padding: 16px 8px 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 16px 40px 16px 40px;
    color: var(--color-font);
    cursor: pointer;
    box-shadow: 2px 0 2px 0 var(--color-outer-i-1);
    transition: transform 225ms ease-in-out;

    &:hover {
        transform: scale(1.05);
    }

    img {
        width: 105px;
        height: 105px;

        &:hover {
            width: 125px;
            height: 125px;
            animation: rotatePokemonRight 225ms ease-in-out;
        }
    }
}

@keyframes rotatePokemonRight {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg)
    }
}

.one-pokemon:nth-child(even) {
    background: url('./../img/bg.png') no-repeat -150% 110%;
    background-size: 120%;
    width: 300px;
    padding: 16px 8px 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 40px 16px 40px 16px;
    color: var(--color-font);
    cursor: pointer;
    box-shadow: 2px 0 2px 0 var(--color-outer-i-1);
    transition: transform 125ms ease-in-out;

    &:hover {
        transform: scale(1.05);

    }

    img {
        width: 105px;
        height: 105px;

        &:hover {
            width: 125px;
            height: 125px;
            animation: rotatePokemonLeft 225ms ease-in-out;
        }
    }
}

@keyframes rotatePokemonLeft {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(-360deg)
    }
}

.pokemon-content {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 16px;

    .image {
        background-color: var(--color-primary);
        width: 150px;
        height: 150px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 16px;
        border-radius: 50%;
        box-shadow: 2px 0 2px 0 var(--color-outer-3);
    }
}

.type-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.type {
    padding: 4px 8px;
    border-radius: 8px;
    color: var(--color-font);
    text-align: center;
}

.impress {
    width: 100%;
    padding: 32px 16px;

    a {
        color: var(--color-font-placeholder);
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}

.privacy-policy {
    width: 100%;
    padding: 0 16px 32px;

    a {
        color: var(--color-font-placeholder);
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}

footer {
    background-color: var(--color-primary);
    width: 100%;
    height: 40px;
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 4px;
    border-top: 1px solid var(--color-outer-i-1);
    box-shadow: 0px 1px 3px 0 var(--color-outer-i-05);

    a {
        color: var(--color-font);
        text-decoration: none;

        &:hover {
            color: var(--color-font-placeholder)
        }
    }
}

.loading {
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.97);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    gap: 48px;
    justify-content: center;
    align-items: center;
    z-index: 8888;

    span {
        font-size: 48px;
        font-weight: bold;
    }
}

.loader {
    width: 122px;
    height: 122px;
    border: 10px solid #FFF;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    animation: rotation 1.5s linear infinite;
}

.loader::after {
    content: '';
    box-sizing: border-box;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 10px solid;
    border-color: #e41f25 transparent;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@media (max-width: 768px) {
    header {
        height: 60px;
        padding: 0 16px;
    }

    .logo {

        img {
            width: 40px;
            height: 40px;
        }
    }

    h1 {
        font-size: 24px;
    }

    .search-input {
        font-size: 16px;
    }
}

@media (max-width: 576px) {
    body {
        font-size: 14px;
    }

    header {
        gap: 8px;
    }

    .logo {
        gap: 8px;

        img {
            width: 32px;
            height: 32px;
        }
    }

    h1 {
        font-size: 22px;
    }

    h2 {
        font-size: 20px;
    }

    .search-container {

        img {
            width: 16px;
            height: 16px;
        }
    }

    .search-input {
        width: 180px;
        padding: 2px 4px;
    }

    .label {
        width: 44px;
        height: 24px;

        img {
            width: 12px;
            height: 12px;
        }
    }

    .ball {
        width: 18px;
        height: 18px;
    }

    .checkbox:checked+.label .ball {
        transform: translateX(20px);
    }

    .pokemon-content {

        .image {
            width: 120px;
            height: 120px;
        }
    }

    .one-pokemon:nth-child(odd) {
        width: 248px;

        img {
            width: 80px;
            height: 80px;

            &:hover {
                width: 105px;
                height: 105px;
                animation: rotatePokemonLeft 225ms ease-in-out;
            }
        }
    }

    .one-pokemon:nth-child(even) {
        width: 248px;

        img {
            width: 80px;
            height: 80px;

            &:hover {
                width: 105px;
                height: 105px;
                animation: rotatePokemonLeft 225ms ease-in-out;
            }
        }
    }
}

@media (max-width: 456px) {
    header {
        padding: 0 8px;

        h1 {
            display: none;
        }
    }

    h2 {
        font-size: 18px;
    }

    .search-input {
        width: 120px;
    }
}